// Use this to customise the styles of your forum.
$primary-color: #6577ac;
$body-font-color: #292929;
$dark-color: #505050;
$label-color: #7cd2ff;
$secondary-btn-color: #f1f1f1;

// Define nav bar colours.
$body-bg: #ffffff;
$navbar-color: $body-bg;
$navbar-border-color-dark: $body-bg;
$navbar-primary-color: #e80080;