# Wildcard patterns.
*.swp
nimcache/
*.db*

# Specific paths
/createdb
/forum
/nimforum.db

# Binaries
forum
createdb
editdb

.vscode
forum.json*
browsertester
setup_nimforum
buildcss
nimforum.css

/src/frontend/forum.js
