#? stdtmpl | standard
#template `!`(idx: untyped): untyped =
#  row[idx]
#end template
#proc genRSSHeaders(c: TForumData): string =
#  result = ""
<link href="${c.req.makeUri("/threadActivity.xml")}" title="Thread activity"
  type="application/atom+xml" rel="alternate">
<link href="${c.req.makeUri("/postActivity.xml")}" title="Post activity"
  type="application/atom+xml" rel="alternate">
#end proc
#
#proc genThreadsRSS(c: TForumData): string =
#  result = ""
#  const query = sql"""SELECT A.id, A.name,
#    strftime('%Y-%m-%dT%H:%M:%SZ', (A.modified)),
#    COUNT(B.id), C.name, B.content, B.id
#    FROM thread AS A, post AS B, person AS C
#    WHERE A.id = b.thread AND B.author = C.id
#    GROUP BY B.thread
#    ORDER BY modified DESC LIMIT ?"""
#  const threadId = 0
#  const name = 1
#  const threadDate = 2
#  const postCount = 3
#  const postAuthor = 4
#  const postContent = 5
#  const postId = 6
#  let frontQuery = c.req.makeUri("/")
#  let recent = getValue(db, sql"""SELECT
#    strftime('%Y-%m-%dT%H:%M:%SZ', (modified)) FROM thread
#    ORDER BY modified DESC LIMIT 1""")
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <title>Nim forum thread activity</title>
    <link href="${c.req.makeUri("/threadActivity.xml")}" rel="self" />
    <link href="${frontQuery}" />
    <id>${frontQuery}</id>
    <updated>${recent}</updated>
# for row in rows(db, query, 10):
    <entry>
        <title>${xmlEncode(!name)}</title>
        <id>urn:entry:${!threadid}</id>
        # let url = c.genThreadUrl(threadid = !threadid,
        #   pageNum = $(ceil(parseInt(!postCount) / PostsPerPage).int)) &
        #   "#" & !postId
        <link rel="alternate" type="text/html"
          href="${c.req.makeUri(url)}"/>
        <published>${!threadDate}</published>
        <updated>${!threadDate}</updated>
        <author><name>${xmlEncode(!postAuthor)}</name></author>
        <content type="html"
>Posts ${!postCount}, ${xmlEncode(!postAuthor)} said:
&lt;p&gt;
${xmlEncode(rstToHtml(!postContent))}</content>
    </entry>
# end for
</feed>
#end proc
#
#proc genPostsRSS(c: TForumData): string =
#  result = ""
#  const query = sql"""SELECT A.id, B.name, A.content, A.thread,
#    A.header, strftime('%Y-%m-%dT%H:%M:%SZ', A.creation),
#    A.creation, COUNT(C.id)
#    FROM post AS A, person AS B, post AS C
#    WHERE A.author = B.id AND A.thread = C.thread AND C.id <= A.id
#    GROUP BY A.id
#    ORDER BY A.creation DESC LIMIT ?"""
#  const postId = 0
#  const postAuthor = 1
#  const postContent = 2
#  const postThread = 3
#  const postHeader = 4
#  const postRssDate = 5
#  const postHumanDate = 6
#  const postPosition = 7
#  let frontQuery = c.req.makeUri("/")
#  let recent = getValue(db, sql"""SELECT
#    strftime('%Y-%m-%dT%H:%M:%SZ', creation) FROM post
#    ORDER BY creation DESC LIMIT 1""")
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <title>Nim forum post activity</title>
    <link href="${c.req.makeUri("/postActivity.xml")}" rel="self" />
    <link href="${frontQuery}" />
    <id>${frontQuery}</id>
    <updated>${recent}</updated>
# for row in rows(db, query, 10):
    <entry>
        <title>${xmlEncode(!postHeader)}</title>
        <id>urn:entry:${!postId}</id>
        # let url = c.genThreadUrl(threadid = !postThread,
        #   pageNum = $(ceil(parseInt(!postPosition) / PostsPerPage).int)) &
        #   "#" & !postId
        <link rel="alternate" type="text/html"
          href="${c.req.makeUri(url)}"/>
        <published>${!postRssDate}</published>
        <updated>${!postRssDate}</updated>
        <author><name>${xmlEncode(!postAuthor)}</name></author>
        <content type="html"
>On ${xmlEncode(!postHumanDate)}, ${xmlEncode(!postAuthor)} said:
&lt;p&gt;
${xmlEncode(rstToHtml(!postContent))}</content>
    </entry>
# end for
</feed>
#end proc
