// Based on
// https://picturepan2.github.io/spectre/getting-started.html#installation
// Define variables to override default ones
$primary-color: #2e5bec;
// $dark-color: #3e396b;

// Import full Spectre source code
@import "spectre/src/spectre";

// Global styles.
// - TODO: Make these non-global.
.btn {
  margin-left: $control-padding-x;
}

table th {
  font-size: 0.65rem;
}
// Spectre fixes.
// - Weird avatar outline.
.avatar {
  background: transparent;
}

// Custom styles.
// - Navigation bar.
$navbar-height: 60px;
$logo-height: $navbar-height - 20px;

#main-navbar {
  background-color: #17181f;
  height: $navbar-height;
}

#img-logo {
  vertical-align: middle;
  height: $logo-height;
}

.navbar-control {
  margin-left: $control-padding-x;
}

// - Main buttons
#main-buttons {
  margin-top: $control-padding-y;
  margin-bottom: $control-padding-y;
}

// - Thread table
$super-popular-color: #f86713;
$popular-color: darken($super-popular-color, 25%);
$views-color: #545d70;

.super-popular-text {
  color: $super-popular-color;
}

.popular-text {
  color: $popular-color;
}

.views-text {
  color: $views-color;
}